{% trans_default_domain "RasenNineGagBundle" %}
{% extends  'RasenNineGagBundle:Template:base.html.twig'%}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% set unreadNotificationCount = view_helper.getUnreadNotificationsCount(app.user.id) %}
{% endif %}
{% block css %}
    {% include 'RasenNineGagBundle:Template:css.html.twig' %}
{% endblock %}

{% block body %}
    {% set active = block('navbarActive') %}
    {% block navbar %}
        {%  include 'RasenNineGagBundle:Layout:navbar.html.twig' %}
    {% endblock %}
    <div class="main-wrapper">
        {% block container %}
        {% endblock %}
    </div>
    {% block ajax %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {%  include 'RasenNineGagBundle:Ajax:upload.html.twig' %}
        {% else %}
            {%  include 'RasenNineGagBundle:Ajax:login.html.twig' %}
            {%  include 'RasenNineGagBundle:Ajax:register.html.twig' %}
        {% endif %}
    {% endblock %}
{% endblock %}
{% block scripts %}
    {% javascripts
    '@RasenNineGagBundle/Resources/public/vendor/underscore/underscore-min.js'
    '@RasenNineGagBundle/Resources/public/vendor/jquery/dist/jquery.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/angular/angular.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/fingerprint/fingerprint.js'
    '@RasenNineGagBundle/Resources/public/js/cookies.js'
    '@RasenNineGagBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/iCheck/icheck.js'
    '@RasenNineGagBundle/Resources/public/vendor/sockjs-client/dist/sockjs.js'
    '@RasenNineGagBundle/Resources/public/vendor/jquery-timeago/jquery.timeago.js'
    '@RasenNineGagBundle/Resources/public/js/jquery.timeago.fa.js'
    '@RasenNineGagBundle/Resources/public/vendor/jquery-color/jquery.color.js'
    '@RasenNineGagBundle/Resources/public/vendor/jquery.finger/dist/jquery.finger.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/perfect-scrollbar/min/perfect-scrollbar.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/momentjs/min/moment.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/momentjs/locale/fa.js'
    '@RasenNineGagBundle/Resources/public/vendor/moment-jalaali/build/moment-jalaali.js' filter='?closure' package='cdna' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var token = "{{ app.session.id | jwt_encode }}";
        var ajaxToken = "{{ csrf_token('ajax') }}";
        angular.module('userConfigApp', []).
                constant('ajaxConfig', {
                    baseUrl: "{{ app.request.baseUrl }}/rest",
                    currentUser: {{ app.user|serialize('json')|raw }},
                    loggedIn: "{{ is_granted("IS_AUTHENTICATED_REMEMBERED") ? "true" : "false" }}",
                    categories: {{ view_helper.getAllCategories()|serialize('json')|raw }}
                });
        $(document).ready(function(){
            $('input').iCheck({
                checkboxClass: 'icheckbox_square',
                radioClass: 'iradio_square',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
    '@RasenNineGagBundle/Resources/public/js/main.js'
    '@RasenNineGagBundle/Resources/public/js/common/userService.js'
    filter='?closure' package='cdna'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% javascripts
        '@RasenNineGagBundle/Resources/public/js/notifications.js'
        filter='?closure' package='cdna'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
    <div id="fb-root"></div>
{% endblock %}



