{% extends 'RasenNineGagBundle:Layout:default.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
    {% block css %}
        {{ parent() }}
        {% stylesheets 'bundles/rasenninegag/vendor/videogular-themes-default/videogular.min.css' filter='cssrewrite' package="cdna" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
{% block container %}
    {% block header %}
    {% endblock %}
    <div class="container {% block mainClass %}{% endblock %}">
        <div class="row main">
            <div class="{% block mainContentClass %}col-sm-8{% endblock %} main-content">
                {% block main %}
                {% endblock %}
            </div>
            <div class="{% block mainSidebarClass %}col-sm-4{% endblock %} hidden-xs main-sidebar-container">
                {% block sidebar %}
                    <div class="main-sidebar" id="mainSidebar">
                        <div class="newsletter-subscribe-form-container">
                            <form class="newsletter-subscribe-form" method="post" action="{{ path('rasen_ninegag_newsletter_subscribe') }}">
                                <p>{{ 'profile.subscribe_header'|trans }}</p>
                                <div class="input-group">
                                    <input type="text" required="required" class="form-control subscribe-email" name="email" placeholder="{{ 'profile.email'|trans }}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary btn-subscribe has-spinner" name="subscribe" value="1" type="submit"><span class="btn-label">{{ 'btn.subscribe'|trans }}</span><i class="loading ion-looping" style="display: none;"></i> </button>
                                    </div>
                                </div>
                                <ul class="form-errors-container"></ul>
                                <input type="hidden" name="_token" class="token" value="{{ csrf_token('newsletter') }}"/>
                            </form>
                            <div class="success-msg" style="display: none;">{{ 'newsletters.subscribe.successful_msg'|trans }}</div>
                        </div>
                        <p class="m_t">{{ 'profile.featured'|trans }}</p>
                        <div class="featured-posts">
                            {% for post in view_helper.getFeaturedPosts() %}
                                {% if post is image %}
                                    <div class="featured-post-item">
                                        {% if post.postTitle is not null %}<div class="post-image-title"><a class="post-title-link" href=" {{ post|post_url }} ">{{ post.postTitle }}</a></div>{% endif %}
                                        <a class="post-image-link" href=" {{ post|post_url }} ">
                                            <div class="overlay-gradient"></div>
                                            <img class="post-image" src="{{ post_image(post, 'feature') }}"/>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="promotion-box clearfix" id="promoBox">
                            <div class="left-side">
                                {% image '@RasenNineGagBundle/Resources/public/images/side-character.jpg'
                                output='images/side-character.jpg' package="cdna" %}
                                <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="right-side">
                                <div class="big-logo">
                                    {% image '@RasenNineGagBundle/Resources/public/images/big-logo-side.png'
                                    output='images/big-logo-side.png' package="cdna" %}
                                    <img alt="{{ 'app_title'|trans }}" src="{{ asset_url }}"/>
                                    {% endimage %}
                                </div>
                                <a href="http://cafebazaar.ir/app/com.apps.rasen.sepaaye/?l=fa" target="_blank" class="btn-app">
                                    {% image '@RasenNineGagBundle/Resources/public/images/btn-side-app.jpg'
                                    output='images/btn-side-app.png' package="cdna" %}
                                    <img id="btn-app" alt="{{ 'app_title'|trans }}" src="{{ asset_url }}"/>
                                    {% endimage %}
                                </a>
                                <br/>

                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}