{% trans_default_domain "RasenNineGagBundle" %}
{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block title %}{{ 'header.connecting' | trans({}, 'HWIOAuthBundle')}}{% endblock %}
{% block content %}
<div class="form-box">
    <div class="row">
        <div class="col-md-12">
            <div class="form-box-header">
                <h3 class="form-box-heading">{{ 'header.connecting' | trans({}, 'HWIOAuthBundle')}}</h3>
            </div>
            <div class="form-box-container">
                <div class="col-md-12 connect-img">
                    {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
                        <img height="128" width="128" class="img-circle img-thumbnail" src="{{ userInformation.profilePicture }}" />
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>
                    <p>
                    <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                        {{ form_widget(form) }}
                        <div class="text-left">
                            <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                            <button type="submit" class="btn btn-primary">{{ 'connect.confirm.submit' | trans({}, 'HWIOAuthBundle') }}</button>
                        </div>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
