{% trans_default_domain "RasenNineGagBundle" %}
{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block content %}
    <div class="form-box">
        <div class="form-box-header">
            <h3 class="form-box-heading"></h3>
        </div>
        <div class="form-box-container">
            <div class="row">
                <div class="col-md-12">
                    {% if error is defined and error %}
                        <span>{{ error }}</span>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    {% for owner in hwi_oauth_resource_owners() %}
                        <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
