{% trans_default_domain 'FOSUserBundle' %}
{% trans_default_domain "RasenNineGagBundle" %}


<div class="form-box">

    <div class="form-box-header">
        <h3 class="form-box-heading">{{ 'form.user.setting'|trans }}</h3>
    </div>
    <div class="form-box-container">
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_profile_edit">
            <div class="form-group">
                {{ form_label(form.email, 'form.user.email'|trans) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username, 'form.user.name'|trans) }}
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="form-group">
                {{ form_label(form.current_password, 'form.user.current_password'|trans) }}
                {{ form_widget(form.current_password) }}
                {{ form_errors(form.current_password) }}
            </div>
            {{ form_widget(form) }}
            <div>
                <button  class="btn btn-primary  has-spinner " type="submit"><span
                            class="spinner ion-loading-c"></span><span
                            class='btn-text'>{{ 'form.user.submit_btn'|trans }}</span></button>

            </div>
        </form>
    </div>
</div>