{% trans_default_domain "RasenNineGagBundle" %}
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-photo-upload">
        <div class="modal-content">
            <div class="modal-header upload-photo-clh">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close'|trans }}</span></button>
                <h2 class="text-ctr">{{ 'navbar.upload'|trans }}</h2>
            </div>
            <form action="{{ path("rasen_ninegag_post_upload") }}" enctype="multipart/form-data" method="post" role="form" class="submit-once">
                <div class="modal-body modal-clc">
                    <div class="form-signin-header">
                        <div  class="upload-photo-body ">
                            <div class="row">
                                <div class="col-md-12 upload-input">
                                    <div class="file-name"></div>
                                    <span class="btn btn-primary btn-block btn-file">
                                        {{ 'choose_picture'|trans }}<input class="upload-photo-input margin-clc" type="file" name="image" accept="image/gif,image/jpeg,image/jpg,image/png" required="required">
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label class="control-label form_lb" for="title">{{ 'filter.label_post_title'|trans }} <small class="text-muted">({{ 'form.upload.image_title.max_length'|trans }})</small></label>
                                        <input type="text" class="form-control" id="title" name="title" maxlength="100" placeholder="{{ 'ajax.placeholder'|trans }}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label class="control-label form_lb" for="slug">{{ 'post_category'|trans }}</label>
                                        <select id="slug" name="slug" class="form-control ">
                                            {% for category in view_helper.getAllCategories() %}
                                                <option value="{{ category.slug }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('upload') }}" />
                            <div class="field form-group row photo">
                                <div class="col-md-12">
                                    <label class="nsfw mgn-checkbox">
                                        <input type="checkbox" name="nsfw"><span class="text-icheck">{{ 'filter.label_nsfw'|trans }}</span>
                                    </label>
                                </div>
                                <div class="rules-top col-md-12">
                                    <small class="rules-header">{{ "ajax.rules"|trans }}</small>
                                    <ul>
                                        <li><small class="text-muted rules-content">{{ "ajax.rules1"|trans }}</small></li>
                                        <li><small class="text-muted rules-content">{{ "ajax.rules2"|trans }}</small></li>
                                        <li><small class="text-muted rules-content">{{ "ajax.rules3"|trans }}</small></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer upload-photo-clf">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn_post btn-default btn-block">{{ 'navbar.upload'|trans }}</button>
                    </div>
                </div>
                <input type="hidden" name="_src" value="modal">
            </form>
        </div>
    </div>
</div>