<div id="c[[ ::comment.id ]]" class="comment-item clearfix" data-ng-class="{'reported': comment.reported, 'hide-content': comment.hidden, 'deleted': comment.deleted}">
    <div class="clearfix">
        <div class="author-info clearfix" data-ng-switch="comment.deleted">
            <a data-ng-switch-default="" data-ng-href="[[ ::comment.createdBy.href ]]" class="author-profile-img">
                <img class="author-profile-img" data-ng-src="[[ ::comment.createdBy.image_url ]]" height="36" width="36" alt="[[ ::comment.createdBy.full_name ]]"/>
            </a>
            <div data-ng-switch-when="true" class="author-profile-img">
                <img class="author-profile-img" data-ng-src="[[ ::comment.createdBy.image_url ]]" height="36" width="36"/>
            </div>
        </div>
        <div class="comment">
            <div class="author-profile-name clearfix">
                <div class="author-name">
                    <span class="user-badges" data-ng-repeat="badge in comment.createdBy._embedded.badges">
                        <img class="user-badge" width="16" height="16" data-ng-src="[[ ::badge.image_url ]]" data-tooltip="[[ ::badge.name ]]" data-tooltip-trigger="mouseenter" data-tooltip-append-to-body="true"  data-tooltip-placement="top" />
                    </span>
                    <a data-ng-if="!comment.deleted" data-ng-href="[[ ::comment.createdBy.href ]]">
                        [[ ::comment.createdBy.full_name ]]
                    </a>
                </div>
                <div class="comment-info">
                    <span class="comment-timestamp" title="[[ ::comment.createdTime | jalaliTimestamp ]]" data-time-ago="" data-from-time="[[ ::comment.createdTime ]]">[[ ::comment.createdTime | timeAgo ]]</span>
                    <span class="comment-edited" data-ng-if="comment.lastEditedTime" title="[[ ::comment.lastEditedTime | jalaliTimestamp ]] توسط [[ ::comment.lastEditedBy.username ]]">ویرایش شده</span>
                    <span class="comment-total-votes"><span class="total-votes-count">[[ comment.totalVotes == 0 ? '0' : ((comment.totalVotes > 0 ? '+' : '') + comment.totalVotes) ]]</span> امتیاز</span>
                </div>
                <div class="actions-container ng-cloak">
                    <div class="comment-actions" data-ng-if="!comment.deleted && !comment.hidden">
                        <div class="dropdown btn-edit-menu" data-ng-if="comment.canEdit && comment.canDelete" id="editComment[[ ::comment.id ]]" data-ng-hide="editable">
                            <button id="editCommentBtn[[ ::comment.id ]]" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="editCommentBtn[[ ::comment.id ]]">
                                <li data-ng-if="comment.canEdit" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="initEdit()"><i class="fa fa-edit fa-fw"></i> ویرایش</a></li>
                                <li data-ng-if="comment.canDelete" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="remove()"><i class="fa fa-remove fa-fw"></i> حذف</a></li>
                            </ul>
                        </div>
                        <button data-ng-if="comment.canEdit" class="btn btn-default btn-sm ng-cloak" data-ng-show="editable" data-ng-click="cancelEdit()" data-ng-disabled="comment.updating" data-bs-tooltip="" data-toggle="tooltip" title="انصراف ویرایش" ><i class="fa fa-close"></i></button>
                        <button type="button" data-ng-click="report()" data-bs-tooltip="" data-toggle="tooltip" title="گزارش نظر" data-ng-if="comment.canReport" >
                            <span class="fa fa-flag"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-reply" data-ng-click="comment.replies.toggleCommentsView()" data-ng-class="{'active':!comment.replies.hidden}" data-ng-if="isLoggedIn">
                            <span>پاسخ</span>
                        </button>
                        <button type="button" class="btn btn-default btn-downvote" data-ng-disabled="comment.loading" data-ng-click="comment.downVote()" data-ng-class="{'active':comment.vote != null && !comment.vote}">
                            <span class="ion-arrow-down-a"></span>
                            <span class="votes-no" data-ng-show="comment.downvotesNo > 0"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-upvote" data-ng-disabled="comment.loading" data-ng-click="comment.upVote()" data-ng-class="{'active':comment.vote != null && comment.vote}">
                            <span class="ion-arrow-up-a"></span>
                            <span class="votes-no" data-ng-show="comment.upvotesNo > 0"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="comment-content clearfix">
                <span data-ng-hide="editable || comment.hidden">[[ comment.content ]]</span>
                <span data-ng-if="comment.hidden"><span class="reported-alert">محتوای این نظر نامناسب گزارش شده است.</span> <a href="javascript:void(0);" data-ng-click="comment.toggleHidden()">نمایش</a></span>
                <div class="comment-input ng-cloak" data-ng-if="comment.canEdit && editable">
                    <form class="clearfix" data-ng-submit="saveEdit()">
                        <div class="input-group">
                            <input required="required" id="commentC[[ ::comment.id ]]" maxlength="500" data-ng-disabled="comment.updating" name="content" placeholder="اینجا بنویسید ..." class="form-control" type="text" data-ng-model="comment.editedContent"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" data-ng-disabled="comment.updating || !comment.editedContent" title="ثبت ویرایش"><i class="fa fa-check"></i></button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="comment-replies-list-container">
                <button class="btn btn-default btn-block btn-load" data-ng-show="comment.replies.hidden && comment.replies.totalCount > 0" data-ng-click="comment.replies.toggleCommentsView()" ><i class="ion-chatboxes"></i> [[ comment.replies.totalCount ]] پاسخ</button>
                <div data-ng-if="!comment.hidden && !comment.replies.hidden" data-replies-list="" data-comment="comment"></div>
            </div>
        </div>
    </div>
</div>