<div class="comments-list">
    <div class="loading-box" data-ng-hide="!commentsManager.loading && !commentsManager.loadingError">
        <i class="ion-loading-c" data-ng-show="commentsManager.loading"></i>
        <span data-ng-show="!commentsManager.loading && commentsManager.comments.length == 0"></span>
        <div data-ng-show="!commentsManager.loading && commentsManager.loadingError">
            <p>مثل اینکه مشکلی پیش اومده</p>
            <button class="btn btn-default btn-sm" data-ng-click="commentsManager.loadComments()">دوباره تلاش کن!</button>
        </div>
    </div>
    <ul class="comments" data-ng-if="commentsManager.comments.length">
        <li class="load-more" data-ng-if="commentsManager.hasMore">
            <button type="button" class="btn btn-default btn-block btn-load" data-ng-click="commentsManager.loadMoreComments()" data-ng-disabled="commentsManager.loadingMore"><i class="ion-chatboxes"></i> نظرات قبلی...  </button>
        </li>
        <li class="comment-item-container" data-ng-repeat="comment in commentsManager.comments" data-comment-item="" data-comment="comment"></li>
    </ul>
    <div class="divider" data-ng-if="commentsManager.comments.length"></div>
    <form class="new-comment-form clearfix" data-ng-submit="postNewComment()" data-ng-class="{'disabled':!isLoggedIn}">
        <div class="overlay-msg" data-ng-if="!isLoggedIn">برای نظر دادن <a class="login-link" href="javascript:void(0);" data-ng-click="showLogin()">وارد شوید</a> یا <a class="register-link" href="javascript:void(0);" data-ng-click="showRegister()">ثبت نام</a> کنید. </div>
        <div class="author-info clearfix">
            <a href="[[ currentUser.href ]]" class="author-profile-img">
                <img class="author-profile-img" data-ng-src="[[ currentUser.imageUrl ]]" height="36" width="36" alt="[[ currentUser.fullName ]]"/>
            </a>
        </div>
        <div class="comment-input">
            <div class="input-group">
                <input required="required" maxlength="500" data-ng-disabled="!canComment" name="content" placeholder="[[ isLoggedIn ? 'اینجا بنویسید ...':'' ]]" class="new-comment-input form-control" type="text" data-ng-model="newComment.content"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" title="ارسال"  data-ng-disabled="!canComment || !newComment.content"><i class="fa fa-send"></i></button>
            </span>
            </div>
        </div>
    </form>
</div>