<videogular vg-player-ready="onPlayerReady" vg-theme="config.theme" data-ng-if="processed" vg-responsive="true">
    <vg-video vg-src="config.sources" vg-preload="'none'" vg-loop="true">
    </vg-video>
    <vg-overlay-play></vg-overlay-play>
    <vg-poster-image vg-url='config.plugins.poster'></vg-poster-image>
</videogular>
<div class="video-not-ready" data-ng-if="!processed">
    <div data-ng-switch="processTrouble">
        <div data-ng-switch-when="true">
            <h4>تصویر آماده نیست :(</h4>
            <a href="javascript:void(0);" data-ng-click="checkPostProcessed()" class="btn btn-default btn-sm">دوباره چک کن!</a>
        </div>
        <div data-ng-switch-default>
            <h4>در حال پردازش ...</h4>
            <i class="ion-looping"></i>
        </div>
    </div>
</div>