<div class="posts-list ajax" data-ng-class="{'loaded': posts.loaded}" data-infinite-scroll="posts.load()" data-infinite-scroll-disabled="!posts.hasMore || posts.loading || posts.loadingError" data-infinite-scroll-distance="1">
    <div class="post-item" data-post-item="" data-post="post" data-ng-repeat="post in posts.items"></div>
</div>
<button class="btn btn-default btn-block btn-load-more" data-ng-if="posts.loaded && posts.hasMore && !posts.loading" data-ng-click="posts.load()">بارگذاری تصاویر بیشتر ...</button>
<div class="loading-box card" data-ng-hide="!posts.loading && !posts.loadingError && posts.items.length > 0">
    <i class="ion-loading-c" data-ng-show="posts.loading"></i>
    <span data-ng-show="!posts.loadingError && !posts.loading && posts.items.length == 0">چیزی پیدا نشد! :(</span>
    <div data-ng-show="posts.loadingError && !posts.loading">
        <p>مثل اینکه مشکلی پیش اومده</p>
        <button class="btn btn-default btn-sm" data-ng-click="posts.load()">دوباره تلاش کن!</button>
    </div>
</div>