@font-face {
    font-family: "Yekan";
    src: url("../fonts/yekan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rasen";
    src: url("../fonts/Rasen.eot");
    src: url("../fonts/Rasen.woff") format("woff"),
    url("../fonts/Rasen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rasen";
    src: url("../fonts/Rasen_bold.eot");
    src: url("../fonts/Rasen_bold.woff") format("woff"),
    url("../fonts/Rasen_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
html, body {
    font-family: "Rasen", "tahoma", sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Yekan", "tahoma", sans-serif;
}
.select2-container .select2-choice abbr {
    right: 7px;
    top: 10px;
}
.select2-container .select2-choice .select2-chosen {
    height: 100%;
    padding-top: 3px;
    margin-right: 13px;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 30px;
}
.select2-container .select2-choice .select2-arrow {
    right: auto;
    left: 0;
    background: none;
    border-left: none;
    border-radius: 0;
}
.select2-container .select2-choice .select2-arrow b {
    background-position: 6px 4px;
}
.select2-container .select2-choice {
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #fff;
    min-width: 100px;
    -webkit-transition: all 0.218s,visibility 0s;
    transition: all 0.218s,visibility 0s;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.select2-container .select2-choice:hover {
    background: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f8f8f8));
    background-image: -webkit-linear-gradient(top,#ffffff,#f8f8f8);
    background-image: linear-gradient(top,#ffffff,#f8f8f8);
    box-shadow: 0 2px 2px -2px #ccc;
    border: 1px solid #B5B5B5;
}
.select2-container.select2-dropdown-open .select2-choice {
    background: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#ffffff));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#ffffff);
    background-image: linear-gradient(top,#f8f8f8,#ffffff);
    border: 1px solid #B5B5B5;
}
.select2-results {
    padding: 0;
}
.select2-drop {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 2px -2px #ccc;
    box-shadow: 0 2px 2px -2px #ccc;
}
.select2-drop-active {
    border: 1px solid #B5B5B5;
    border-top: none;
}
.select2-results .select2-highlighted {
    background: #e3e3e3;
    color: #333;
}
.select2-container.form-control {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.dropdown-menu>li>a, .dropdown-header {
    text-align: right;
}

.skin-black .navbar .nav > li > a:hover, .skin-black .navbar .nav > li > a:active, .skin-black .navbar .nav > li > a:focus, .skin-black .navbar .nav .open > a, .skin-black .navbar .nav .open > a:hover, .skin-black .navbar .nav .open > a:focus {
    background: none;
}
.navbar-left .dropdown-menu {
    left: 0;
    right: auto;
    float: right;
}
.dropdown-menu {
    font-size: 16px;
}
.navbar .dropdown-menu {
    font-family: "Yekan", "tahoma", sans-serif;
    font-size: 14px;
}
.dropdown-menu>li>a {
    padding: 10px 20px;
}
.dropdown-header {
    font-size: 14px;
    font-weight: bold;
    font-family: "Yekan", "tahoma", sans-serif;
    color: #428bca; /*main color*/
    border-bottom: 1px solid;
}
.btn {
    font-size: 16px;
}
div.connection.form-box {
    background-color: #ffffff;
    box-shadow: 0 10px 10px -10px #333;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 0;
}
div.connection form .form-actions {
    text-align: left;
}
div.connection .form-actions {
    padding: 0;
}
div.connection .control-group {
    padding: 0;
    margin: 0 0 15px 0;
}
div.connection div input.big {
    width: 100%;
    direction: ltr;
    height: 48px;
    font-family: sans-serif;
}
div.connection .alert {
    margin: 0 0 20px 0;
}
.lb-outerContainer {
    width: auto;
    height: auto;
}
.navbar .nav a.btn-toggle.active {
    color: #428bca;
}
.well.form-actions {
    text-align: left;
}
td.sonata-ba-list-field.deleted {
    background-color: #FFF0F0 !important;
}
td.sonata-ba-list-field.deleted .deleted-icon {
    color: rgb(247, 56, 56);
    padding: 0 3px;
    font-size: 14px;
}
.logo img {
    padding-top: 4px;
}
.sidebar .sidebar-menu .treeview-menu > li.active {
    background-color: #3C8DBC;
}
.notice-image-thumb img {
    max-height: 100px;
}