{% extends 'RasenNineGagBundle:Post:posts_list.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block navbarActive %}home{% endblock %}
{% block title %}{{ 'navbar.fresh'|trans }}{% endblock %}
{% block controller_name %}PostsFreshCtrl{% endblock %}