{% extends 'RasenNineGagBundle:Layout:sidebar.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block title %}{{ 'navbar.upload'|trans({}, 'RasenNineGagBundle') }}{% endblock %}
{% block navbarActive %}new{% endblock %}
{% block main %}
    <div class="row card">
    <div class="col-md-7 col-xs-12 border-left new-post-image">
        <ul class="form-errors-container">
            {% if errors is defined and errors is not null and errors is not empty %}
                {% for error in errors  %}
                    <li>{{ error.getMessage() }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        {{ form_start(form, { 'attr': {'class': 'submit-once'} }) }}
        <div class="field photo">
            <div class="form-group upload-input">
                <div class="file-name"></div>
                <span class="btn btn-primary btn-block btn-file">
                {{ 'choose_picture'|trans }}{{ form_widget(form.imageFile,{'attr':{'class':'form_lb'}}) }}
                </span>
                {{ form_errors(form.imageFile) }}
            </div>
            <div class="form-group">
                {{ form_label(form.postTitle, 'list.label_post_title'|trans) }}
                {{ form_widget(form.postTitle) }}
                {{ form_errors(form.postTitle) }}
            </div>
            <div class="form-group">
                {{ form_label(form.category, 'list.label_category'|trans) }}
                {{ form_widget(form.category) }}
                {{ form_errors(form.category) }}
            </div>
            <div class="form-group">
                {{ form_label(form.nsfw, 'list.label_nsfw'|trans) }}
                {{ form_widget(form.nsfw) }}
                {{ form_errors(form.nsfw) }}
            </div>
        </div>
        <button id="_submit" class="btn btn-primary pull-left settings-btn" type="submit">
            <span class='btn-text'>{{ 'navbar.upload'|trans  }}</span>
        </button>
        {{ form_end(form ) }}
    </div>
        <div class="new-post-image col-md-5 col-xs-12" >
            <p class="p-title">{{ "rules"|trans }}</p>
            <ul>
                <li><small class="text-muted rules-content">{{ "ajax.rules1"|trans }}</small></li>
                <li><small class="text-muted rules-content">{{ "ajax.rules2"|trans }}</small></li>
                <li><small class="text-muted rules-content">{{ "ajax.rules3"|trans }}</small></li>
            </ul>
        </div>
    </div>
{% endblock %}