{% extends 'RasenNineGagBundle:Layout:sidebar.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% import 'RasenNineGagBundle:Template:widget.html.twig' as widget %}
{% block baseUrl %}{{ parent() }}{# app.request.baseUrl ~ '/' #}{% endblock %}
{% block mainClass %}posts-list{% endblock %}
{% block mainContentClass %}col-sm-8{% endblock %}
{% block mainSidebarClass %}col-sm-4{% endblock %}
{% block main %}
    <div data-ng-controller="{% block controller_name %}PostsCtrl{% endblock %}">
        <i class="ion-loading-c" data-ng-hide="!loading"></i>
        <div class="posts-list-container" data-posts-list="" data-posts="posts" data-load-posts="loadPosts()"></div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    {% javascripts
    '@RasenNineGagBundle/Resources/public/vendor/angular-sanitize/angular-sanitize.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/ngInfiniteScroll/build/ng-infinite-scroll.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular/videogular.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-overlay-play/overlay-play.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-buffering/buffering.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-poster/poster.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-flash/flash.js'
    '@RasenNineGagBundle/Resources/public/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'
    '@RasenNineGagBundle/Resources/public/js/common/angular-socialshare/angular-socialshare.js'
    '@RasenNineGagBundle/Resources/public/js/common/modalService.js'
    '@RasenNineGagBundle/Resources/public/js/common/timeApp.js'
    '@RasenNineGagBundle/Resources/public/js/common/approveStatus.js'
    '@RasenNineGagBundle/Resources/public/js/common/postsManager.js'
    '@RasenNineGagBundle/Resources/public/js/common/commentsManager.js'
    filter='?closure' package='cdna'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block appScripts %}
        {% javascripts
        '@RasenNineGagBundle/Resources/public/js/posts_app/app.js'
        '@RasenNineGagBundle/Resources/public/js/posts_app/services.js'
        '@RasenNineGagBundle/Resources/public/js/posts_app/controllers.js'
        filter='?closure' package='cdna'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
{% endblock %}