{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block title %}{{ 'static.about.header'|trans }}{% endblock %}
{% block content %}
    <h1>{{ block('title') }}</h1>
{% endblock %}