{% extends 'RasenNineGagBundle:Category:single_category.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block title %}{{ category.name }} - {{ 'navbar.trending'|trans }}{% endblock %}