<nav class="navbar-post-category navbar-post-ctg">
    <ul class="nav nav-tabs nav-justified">
        <li data-toggle="tooltip" data-placement="top" title="جدیدترین‌ پست‌ها اینجاست" data-ng-class="{'active': $state.includes('category.list') && $stateParams.filter == 'fresh'}"><a data-ui-sref="category.list({filter: 'fresh'})">جدیدترین‌ها</a></li>
        <li data-toggle="tooltip" data-placement="top" title="محبوب‌ترین‌ پست‌ها اینجاست" data-ng-class="{'active': $state.includes('category.list') && $stateParams.filter == 'trending'}"><a data-ui-sref="category.list({filter: 'trending'})">محبوب‌ترین‌ها</a></li>
        <li data-toggle="tooltip" data-placement="top" title="داغ‌ترین‌ پست‌ها اینجاست" data-ng-class="{'active': $state.includes('category.list') && $stateParams.filter == 'hot'}"><a data-ui-sref="category.list({filter: 'hot'})">داغ‌ترین‌ها</a></li>
    </ul>
</nav>
<div data-ui-view=""></div>