{% extends admin.getTemplate('base_list_field') %}
{% block field %}
{% if attribute(object, 'getContent') is defined %}
    {{ value }}
{% elseif attribute(object, 'getImageFile') is defined %}
    <a class="post-image-thumb" href="{{ vich_uploader_asset(object, 'posts') }}" data-lightbox="post{{ object.id }}" data-title="{{ 'admin.posts.post_image.sent_in_category'|trans({}, 'RasenNineGagBundle') ~ ' ' ~ object.category.name }}"><img src="{{ vich_uploader_asset(object, 'posts') | imagine_filter('square_thumb')}}"/></a>
{% endif %}
{% endblock %}