{% set approved = false %}
{% if admin.getClassnameLabel == 'Post' %}
    {% set approved = object.isApproved %}
{% elseif admin.getClassnameLabel == 'Comment' %}
    {% set approved = object.approved %}
{% endif %}
{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and (approved is null or approved) %}
    <a href="{{ admin.generateObjectUrl('disapprove', object) }}" class="btn btn-sm btn-default approve_link" title="{{ 'action_disapprove'|trans({}, 'RasenNineGagBundle') }}">
        <i class="glyphicon glyphicon-remove"></i>
        {{ 'action_disapprove'|trans({}, 'RasenNineGagBundle') }}
    </a>
{% endif %}
