{% extends admin.getTemplate('base_list_field') %}
{% block field %}
{% if attribute(object, 'getImageFile') is defined %}
    {% if vich_uploader_asset(object, 'badge_images') is not null %}
    <a class="notice-image-thumb" href="{{ vich_uploader_asset(object, 'badge_images') }}" data-lightbox="badge{{ object.id }}" data-title="{{ object.name }}"><img src="{{ vich_uploader_asset(object, 'badge_images') | imagine_filter('square_24')}}"/></a>
    {% else %}
        <span>{{ 'notice.no_image'|trans({}, 'RasenNineGagBundle') }}</span>
    {% endif %}
{% endif %}
{% endblock %}