{% extends 'RasenNineGagBundle:Layout:sidebar.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% set own = false %}
{% if app.user is not null and app.user.id == user.id %}
    {% set own = true %}
{% endif %}
{% import 'RasenNineGagBundle:Template:widget.html.twig' as widget %}
    {% set profile_header = ('/bundles/rasenninegag/images/cover.jpg' | imagine_filter('profile_header')) %}
{% if vich_uploader_asset(user, 'profile_header_pics') is not null %}
    {% set profile_header = (vich_uploader_asset(user, 'profile_header_pics') | imagine_filter('profile_header')) %}
{% endif %}

{% block css %}
    {{ parent() }}
    {% stylesheets
    'bundles/rasenninegag/vendor/lightbox2/css/lightbox.css' filter='cssrewrite,?uglifycss' package='cdna' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% if profile_header is defined %}
        <style type="text/css">
            .profile-header {
            {% set user_header_image = '/bundles/rasenninegag/images/cover.jpg' %}

                background: url({{ profile_header }}) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ profile_header }}', sizingMethod='scale');
                -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ profile_header }}', sizingMethod='scale')";
            }
        </style>
    {% endif %}
{% endblock %}
{% block title %}{{ user.getFullName }}{% endblock %}
{% block header %}
<div id="profileHeader" class="profile-header" data-ng-controller="ProfileCtrl">
    <div class="profile-header-content overlay-gradient">
        <div class="cover-ctr">
            {% set user_image = ('/bundles/rasenninegag/images/empty_user.png' | imagine_filter('profile_image')) %}
            {% set user_image_orig = ('/bundles/rasenninegag/images/empty_user.png' | imagine_filter('profile_image')) %}
            {% if vich_uploader_asset(user, 'profile_pics') is not null %}
                {% set user_image_orig = (vich_uploader_asset(user, 'profile_pics') | imagine_filter('profile_image')) %}
                {% set user_image = (vich_uploader_asset(user, 'profile_pics') | imagine_filter('profile_image')) %}
            {% endif %}
            <a href="{{ user_image_orig }}" data-lightbox="profile_pic">
                <img class="profile-pic" src="{{ user_image }}" height="160" width="160">
            </a>
            <h2><span title="@{{ user.username }}">{{ user.getFullName() }}</span></h2>
            <div class="user-badges">
                {% for badge in badges %}
                    <img class="user-badge" width="48" height="48" src="{{ vich_uploader_asset(badge, 'badge_images') | imagine_filter('square_48') }}" title="{{ badge.name }}" data-toggle="tooltip"/>
                {% endfor %}
            </div>
            <p>{{ user.profileBio }}</p>
        </div>
        <div class="user-info row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="profile-tabs-container">
        <div id="profileTabs" class="top-tabs">
            <div class="container">
                <ul class="nav nav-pills profile-tabs pull-right">
                    <li role="presentation" data-ng-class="{'active': (activeTab == '/posts')}">
                        <a href="posts">
                            <p class="counter-label">{{ 'profile.posts'|trans }}</p>
                            <p class="counter-value">{% if own %}{{ user.postsNo }}{% else %}{{ user.approvedPostsNo }}{% endif %}</p>
                        </a>
                    </li>
                    <li role="presentation" data-ng-class="{'active': (activeTab == '/upvotes')}">
                        <a href="upvotes">
                            <p class="counter-label">{{ 'profile.upvotes'|trans }}</p>
                            <p class="counter-value">{{ user.upvotesNo }}</p>
                        </a>
                    </li>
                    <li role="presentation" data-ng-class="{'active': (activeTab == '/comments')}">
                        <a href="comments">
                            <p class="counter-label">{{ 'profile.comments'|trans }}</p>
                            <p class="counter-value">{{ user.approvedCommentsNo }}</p>
                        </a>
                    </li>
                    <li role="presentation" data-ng-class="{'active': (activeTab == '/followers')}">
                        <a href="followers">
                            <p class="counter-label">{{ 'profile.followers'|trans }}</p>
                            <p class="counter-value">{{ user.followersNo }}</p>
                        </a>
                    </li>
                    <li role="presentation" class="hidden-xs" data-ng-class="{'active': (activeTab == '/followings')}">
                        <a href="followings">
                            <p class="counter-label">{{ 'profile.following'|trans }}</p>
                            <p class="counter-value">{{ user.followingNo }}</p>
                        </a>
                    </li>
                    <li role="presentation" class="hidden-xs" data-ng-class="{'active': (activeTab == '/stream')}">
                        <a href="stream" >
                            <p class="counter-label">{{ 'profile.stream'|trans }}</p>
                            <p class="counter-value"><i class="fa fa-users"></i></p>
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-left" role="tablist">
                    {% if not own and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li  role="presentation" data-follow-button="" data-user="user"><button type="button"  class="btn {{ isUserFollowed ? 'btn-primary' : 'btn-danger' }} btn-follow" data-ng-class="{'btn-primary': !user.followed, 'btn-danger': user.followed}"  data-ng-click="user.toggleFollow()">{{ isUserFollowed ?  'unfollow'|trans : ('follow'|trans) }}</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block mainClass %}posts-list profile{% endblock %}
    {% block mainContentClass %}col-sm-7{% endblock %}
    {% block mainSidebarClass %}col-sm-5{% endblock %}
    {% block main %}
        <div data-ng-controller="ProfileCtrl">
            <div class="tab-content" data-ng-view=""></div>
        </div>
    {% endblock %}
    {% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% spaceless %}
        angular.module('userProfileConfigApp', []).
                constant('profileConstants', {
                    user: {{ user | serialize('json') | raw }},
                    own: {{ own ? 'true':'false' }}
                });
        {% endspaceless %}
    </script>
    {% javascripts
    '@RasenNineGagBundle/Resources/public/vendor/angular-route/angular-route.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/angular-sanitize/angular-sanitize.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/ngInfiniteScroll/build/ng-infinite-scroll.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular/videogular.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-overlay-play/overlay-play.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-buffering/buffering.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-poster/poster.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-flash/flash.js'
    '@RasenNineGagBundle/Resources/public/vendor/lightbox2/js/lightbox.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'
    '@RasenNineGagBundle/Resources/public/js/common/angular-socialshare/angular-socialshare.js'
    '@RasenNineGagBundle/Resources/public/js/common/modalService.js'
    '@RasenNineGagBundle/Resources/public/js/common/timeApp.js'
    '@RasenNineGagBundle/Resources/public/js/common/approveStatus.js'
    '@RasenNineGagBundle/Resources/public/js/common/postsManager.js'
    '@RasenNineGagBundle/Resources/public/js/common/commentsManager.js'
    '@RasenNineGagBundle/Resources/public/js/user_profile_app/app.js'
    '@RasenNineGagBundle/Resources/public/js/user_profile_app/controllers.js'
    '@RasenNineGagBundle/Resources/public/js/user_profile_app/services.js'
    '@RasenNineGagBundle/Resources/public/js/profile.js'
    filter='?closure' package='cdna'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}