{% trans_default_domain "RasenNineGagBundle" %}
<!DOCTYPE html>
<html dir='rtl' lang='fa'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% stylesheets
    'bundles/rasenninegag/vendor/bootstrap/dist/css/bootstrap.css'
    'bundles/rasenninegag/css/login.css' filter='cssrewrite,?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <title>
        {{ 'login.header'|trans }} | {{ 'app_title'|trans }}
    </title>
</head>
<body class="login">

{% block fos_user_content %}
{% endblock fos_user_content %}


</body>
</html>