{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="form-box">
        <div class="form-box-header">
            <h3 class="form-box-heading"></h3>
        </div>
        <div class="form-box-container">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
        </div>
    </div>
{% endblock %}
