{% trans_default_domain "RasenNineGagBundle" %}
<!DOCTYPE html>
<html dir='rtl' lang='fa' prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{% block baseUrl %}{{ app.request.requestUri }}{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {# <meta name="twitter:site" content="@3paaye" /> #}
    <meta name="twitter:url" content="{{ app.request.uri }}" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:site_name" content="{{ 'app_title'|trans }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="fb:app_id" content="1552272588359141" />
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    <title data-title="{{ block('title_tag') }}" data-navbar="{% block navbarActive %}{% endblock %}">
        {% if unreadNotificationCount is defined and unreadNotificationCount > 0 %}{{ '(' ~ unreadNotificationCount ~ ') ' }}{% endif %}{% block title_tag %}{% block title %}{% endblock %}{% if block('title') is not empty %} | {% endif %}{{ 'app_title'|trans }}{% endblock %}
    </title>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-57927458-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>