{% trans_default_domain "RasenNineGagBundle" %}
{% macro approveStatus(approve) %}
    {% set statusIcon = 'fa-dot-circle-o' %}
    {% if approve is not null and approve %}
        {% set statusIcon = 'fa-check-circle' %}
    {% elseif approve is not null and not approve %}
        {% set statusIcon = 'fa-times-circle' %}
    {% endif %}
    {% set statusText = 'post.approve_status.pending' %}
    {% if approve is not null and approve %}
        {% set statusText = 'post.approve_status.approved' %}
    {% elseif approve is not null and not approve %}
        {% set statusText = 'post.approve_status.not_approved' %}
    {% endif %}
    {% set statusClass = 'pending' %}
    {% if approve is not null and approve %}
        {% set statusClass = 'approved' %}
    {% elseif approve is not null and not approve %}
        {% set statusClass = 'not-approved' %}
    {% endif %}
    <span title="{{ statusText|trans({}, "RasenNineGagBundle") }}" class="approval-status {{ statusClass }}"><i class="fa {{ statusIcon }}"></i></span>
{% endmacro %}
{% macro post_card(post, big=false) %}
    {% import _self as widget %}
    {% set post_filter = 'thumb500' %}
    {% if big == true %}
        {% set post_filter = 'thumb700' %}
    {% endif %}
    {% set own = false %}
    {% if app.user is not null and app.user.id == post.createdBy.id %}
        {% set own = true %}
    {% endif %}
    <div class="card post-card {% if big %}big{% endif %}" itemscope itemtype="http://schema.org/MediaObject" data-ng-class="{'not-processed': !post.checkProcessed(), 'editable': editable}">
        <div class="post-header clearfix">
            <div class="author-info" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ path('rasen_ninegag_user_profile', {'username': post.createdBy.username}) }}" class="author-profile-img">
                    {% set user_image = ('/bundles/rasenninegag/images/empty_user.png' | imagine_filter('square_48')) %}
                    {% if vich_uploader_asset(post.createdBy, 'profile_pics') is not null %}
                        {% set user_image = (vich_uploader_asset(post.createdBy, 'profile_pics') | imagine_filter('square_48')) %}
                    {% endif %}
                    <img class="author-profile-img" src="{{ user_image }}" itemprop="image" alt="{{ post.createdBy.getFullName() }}"/>
                </a>
                <div class="author-profile-name clearfix">
                    <div class="author-name">
                        <span class="user-badges ng-cloak" data-ng-repeat="badge in post.createdBy._embedded.badges">
                            <img class="user-badge" width="24" height="24" data-ng-src="[[ ::badge.image_url ]]" data-tooltip="[[ ::badge.name ]]" data-tooltip-trigger="mouseenter" data-tooltip-append-to-body="true"  data-tooltip-placement="top" />
                        </span>
                        <a href="{{ path('rasen_ninegag_user_profile', {'username': post.createdBy.username}) }}" itemprop="url">
                            <span itemprop="name">{{ post.createdBy.getFullName() }}</span>
                        </a>
                    </div>
                    <div class="post-info clearfix">
                        {% if own %}<div class="approval-status-container">{{ _self.approveStatus(post.isApproved) }}</div>{% endif %}
                        <a href="{{ post|post_url }}" class="post-timestamp" title="{{ post.createdTime | format_datetime }}">{{ post.createdTime | time_diff }}</a>
                        <div class="post-category"><span>در </span>
                            {% if is_granted('edit', post) %}
                                <select class="ng-cloak" data-ng-options="category.name for category in categories track by category.slug" data-ng-model="post.editedCategory" data-ng-show="editable" data-ng-disabled="post.updating"></select>
                            {% endif %}
                            <a href="{{ path('rasen_ninegag_postcategory_view', {slug: post.category.slug}) }}" data-ng-hide="editable" data-ng-bind="post.category.name">{{ post.category.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions clearfix">
                <div class="post-actions clearfix">
                    <div class="more-actions" data-ng-hide="editable">
                        <button class="btn btn-default btn-more-actions dropdown-toggle" id="moreActionsMeun" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <ul class="more-actions-dropdown dropdown-menu" role="menu" aria-labelledby="moreActionsMeun">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="[[::post.href]]" itemprop="url">
                                    <i class="fa fa-link"></i><span class="menu-item-text">لینک به پست</span>
                                </a>
                            </li>
                            {% if is_granted('edit', post) %}
                                <li role="presentation" data-ng-if="post.canEdit" >
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="initEdit()">
                                        <i class="fa fa-edit"></i><span class="menu-item-text">ویرایش</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li role="presentation" class="divider" data-ng-if="(!post.own && isLoggedIn) || post.canDelete"></li>
                            {% if is_granted('delete', post) %}
                                <li role="presentation" data-ng-if="post.canDelete">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="post.remove()">
                                        <i class="fa fa-remove"></i><span class="menu-item-text">حذف پست</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li role="presentation" data-ng-if="!post.own && isLoggedIn">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="post.addReport()" data-ng-class="{'active':post.reported}">
                                    <i class="fa fa-flag"></i><span class="menu-item-text"> گزارش پست نامناسب</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-default visible-sm visible-xs mobile-only post-dl-btn" data-ng-href=";save;[[::post.shareMediaUrl]]" onclick="stop()" data-ng-click="post.download()" data-bs-tooltip="" data-toggle="tooltip" title="ذخیره" >
                        <span class="icon-s icon-dl-s"></span>
                    </a>
                    <a class="btn btn-default visible-sm visible-xs mobile-only post-share-btn" data-ng-href=";share;[[::post.shareMediaUrl]]" onclick="stop()" data-ng-click="post.share()" data-bs-tooltip="" data-toggle="tooltip" title="اشتراک" >
                        <span class="icon-s icon-share-s"></span>
                    </a>
                    {% if is_granted('edit', post) %}
                        <button data-ng-if="post.canEdit && editable" class="btn btn-primary btn-sm ng-cloak" data-ng-click="saveEdit()" data-ng-disabled="post.updating" data-bs-tooltip="" data-toggle="tooltip" title="ثبت ویرایش" ><i class="fa fa-check"></i></button>
                        <button data-ng-if="post.canEdit && editable" class="btn btn-default btn-sm ng-cloak" data-ng-click="cancelEdit()" data-ng-disabled="post.updating"><i class="fa fa-close"></i></button>
                    {% endif %}
                </div>
                <div class="fb-share-container">
                    <div data-facebook="" class="facebookShare" data-url="{{ post|post_url }}"></div>
                </div>
            </div>
        </div>
        <div class="post-content-container">
            {% if post is image %}
                <div class="post-content post-image">
                    <h3 class="post-image-title" data-ng-if="(post.canEdit && editable) || post.postTitle">
                        {% if is_granted('edit', post) %}
                            <div data-txt-input="" data-ng-if="post.canEdit && editable" data-model="post.editedPostTitle" data-disabled="post.updating" data-submit="saveEdit()" class="ng-cloak"></div>
                        {% endif %}
                        <a href="{{ post|post_url }}" data-ng-hide="editable" itemprop="name" data-ng-bind="post.postTitle">{{ post.postTitle }}</a>
                    </h3>
                    <div data-post-image="" data-post="post" data-big="true"></div>
                </div>
            {% else %}
                <div class="post-content post-text">
                    {{ post.content }}
                </div>
            {% endif %}
        </div>
        <div class="actions-container ng-cloak">
            <div class="post-actions clearfix">
                <div class="pull-right post-info">
                    <a data-ng-if="post.totalVotes > 0" data-bs-tooltip="" data-toggle="tooltip" title="امتیاز" href="javascript:void(0);" data-ng-click="post.showUpvotes()" class="total-votes"><span class="count">[[ post.totalVotes == 0 ? '0' : ((post.totalVotes > 0 ? '+' : '') + post.totalVotes) ]]</span><i class="fa fa-thumbs-o-up"></i></a>
                    <span data-ng-if="post.totalVotes <= 0" data-bs-tooltip="" data-toggle="tooltip" title="امتیاز" class="total-votes"><span class="count">[[ post.totalVotes == 0 ? '0' : ((post.totalVotes > 0 ? '+' : '') + post.totalVotes) ]]</span><i class="fa fa-thumbs-o-up"></i></span>
                    <span class="sep"></span>
                    <a href="javascript:void(0);" data-bs-tooltip="" data-toggle="tooltip" title="نظرات" data-ng-click="post.commentsManager.toggleCommentsView()" class="comments-no"><span class="count" itemprop="commentCount">[[ post.commentsManager.totalFullCount ]]</span><i class="fa fa-comments-o"></i></a>
                    <span class="sep"></span>
                    <span class="views-no" data-bs-tooltip="" data-toggle="tooltip" title="بازدید"><span class="count">[[post.viewsNo]]</span><i class="fa fa-eye"></i></span>
                    <span class="mobile-only">
                    <span class="sep post-dl"></span>
                    <a class="post-dl-btn" href=";save;[[::post.shareMediaUrl]]" onclick="stop()" data-ng-click="post.download()" data-bs-tooltip="" data-toggle="tooltip" title="ذخیره" >
                        <span class="count">[[::post.downloadsNo]]</span><i class="fa fa-download"></i>
                    </a>
                    <span class="sep post-share"></span>
                    <a class="post-share-btn" href=";share;[[::post.shareMediaUrl]]" onclick="stop()" data-ng-click="post.share()" data-bs-tooltip="" data-toggle="tooltip" title="اشتراک" >
                        <span class="count">[[::post.sharesNo]]</span><i class="fa fa-share-alt-square"></i>
                    </a>
                    </span>
                </div>
                <div class="pull-left vote-actions" role="group">
                    <button type="button" class="btn btn-default btn-voted btn-meh" data-toggle="tooltip" title="{{ 'tooltip.downvote'|trans }}" data-ng-disabled="post.loading" data-ng-click="post.downVoteToggle()" data-ng-class="{'active':post.vote != null && !post.vote}">
                        <span class="icon-s icon-dislike-s"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-voted btn-smile" data-toggle="tooltip" title="{{ 'tooltip.upvote'|trans }}" data-ng-disabled="post.loading" data-ng-click="post.upVoteToggle()" data-ng-class="{'active':post.vote != null && post.vote}">
                        <span class="icon-s icon-like-s"></span>
                    </button>
                </div>
            </div>
        </div>
        {% if big %}{% set if = '' %}{% else %}{% set if = ' data-ng-if="!post.hidden && !post.commentsManager.hidden"' %}{% endif %}
        <div{{ if }} class="comments-list-container" data-comments-list="" data-comments-manager="post.commentsManager" data-limit="10" data-auto-load="true"></div>
    </div>
{% endmacro %}

{% macro posts_list(posts, big=false) %}
    {% import _self as widget %}
    <div class="posts-list">
        {% if posts|length > 0 %}
            {% for post in posts %}
                {{ widget.post_card(post, big) }}
            {% endfor %}
        {% else %}
            <div class="col-md-6 col-md-offset-3 card empty-box">
                {{ 'no_post'|trans }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro comment_item(comment) %}
    {% set own = false %}
    {% if app.user is not null and app.user.id == comment.createdBy.id %}
        {% set own = true %}
    {% endif %}
    <li class="comment-item">
        <div class="author-info clearfix">
            <a href="{{ path('rasen_ninegag_user_profile', {'username': comment.createdBy.username}) }}" class="author-profile-img">
                {% set user_image = ('/bundles/rasenninegag/images/empty_user.png' | imagine_filter('square_48')) %}
                {% if vich_uploader_asset(comment.createdBy, 'profile_pics') is not null %}
                    {% set user_image = (vich_uploader_asset(comment.createdBy, 'profile_pics') | imagine_filter('square_48')) %}
                {% endif %}
                <img class="author-profile-img" src="{{ user_image }}" alt="{{ comment.createdBy.getFullName() }}"/>
            </a>
            <div class="author-profile-name clearfix">
                <a href="{{ path('rasen_ninegag_user_profile', {'username': comment.createdBy.username}) }}" class="author-name">{{ comment.createdBy.getFullName() }}</a>
                <div class="comment-info">
                    <div class="comment-timestamp" title="{{ comment.createdTime | format_datetime }}">{{ comment.createdTime | time_diff }}</div>
                    {% if own %}<div class="approval-status-container">{{ _self.approveStatus(comment.approved) }}</div>{% endif %}
                </div>
            </div>
        </div>
        <div class="comment-content">
            {{ comment.content }}
        </div>
        <div class="actions-container ng-cloak">
            <div class="comment-actions">
                <button type="button" class="btn btn-default btn-meh" data-ng-disabled="comment.loading" data-ng-click="comment.downVote()" data-ng-class="{'active':comment.vote != null && !comment.vote}">
                    <span class="fa fa-angle-down"></span>
                </button>
                <button type="button" class="btn btn-default btn-smile" data-ng-disabled="comment.loading" data-ng-click="comment.upVote()" data-ng-class="{'active':comment.vote != null && comment.vote}">
                    <span class="fa fa-angle-up"></span>
                </button>
            </div>
        </div>
    </li>
{% endmacro %}
{% macro comments_list(comments) %}
    {% import _self as widget %}
    <div class="comments-list">
        {% if comments|length > 0 %}
            <ul class="comments">
                {% for comment in comments %}
                    {% if comment != '' and comment|length > 0 %}
                        {{ widget.comment_item(comment) }}
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <div class="col-md-6 col-md-offset-3 card empty-box">
                {{ 'no_comment'|trans }}
            </div>
        {% endif %}
        <form class="new-comment-form" data-ng-submit="newComment(post)">
            <input name="content" placeholder="{{ 'new_comment.placeholder'|trans }}" class="new-comment-input form-control" type="text" data-ng-model="post.newComment"/>
        </form>
    </div>
{% endmacro %}